<div class="page-header">
  <h1>Subjects</h1>
</div>

<p><a href="/subjects/new" class="btn btn-primary">Add a New Subject</a></p>

<table class="table table-hover" font=>
  <thead>
    <tr>
      <th>Subject name</th>
      <th>Enroll</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><h4><%= subject.subject_name %>   <a href="/lectures/"></h4></td>

        <td>
          <a href="/lectures/" class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
        </td>

       <td>
          <a href="/subjects/<%= subject.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_subject/<%= subject.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

